@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --drop-black: #000000;
    --drop-gray: #b6b6b6;
    --drop-lightgray: #f5f5f5;
    --drop-white: #ffffff;
    --drop-lighterblue: #b4d0e7;
    --drop-lightblue: #0093ce;
    --drop--blue: #0061ff;
    --drop-darkblue: #0d2481;
    --drop-lightred: #ff1c1c;
    --drop-red: #d5001f;
    --drop-darkred: #61082b;
    --drop-lightgreen: #d1e9cd;
    --drop-green: #a2d39b;
    --drop-yellow: #ffd830;
}

.debug .main_menu {
    border: 1px solid black;
}

.debug .jumbo {

    border: 1px solid black;
}

.debug .big_container {
    border: 1px solid black;
}

/* utilities */
.d-flex {
    display: flex;
}

ul {
    gap: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--drop-gray);
}

button {
    border: none;
    background-color: #0061ff;
    color: #ffffff;
}

.big_container {
    width: 70%;
}

h1 {
    font-size: 4rem;

}

p {
    font-size: .75rem;
}

/* #region header */
nav {
    justify-content: center;
    font-size: .75rem;
}

.main_menu {
    width: 100vw;
    max-width: 1900px;
    padding: .75rem;
    justify-content: space-between;
}



.left,
.right {
    align-items: center;
    gap: 1rem;
}

.right {
    flex-direction: row-reverse;
}

button.menu {
    padding: .25rem .75rem;
}

/* #endregion header */

/* #region main*/

/* #region jumbo */
.jumbo {
    max-width: 1900px;
    margin: auto;
    padding-top: 4rem;
    background-color: var(--drop-lighterblue);
    /* justify-content: center; */
}

.jumbo_background {
    height: 33rem;
    background-color: var(--drop-lighterblue);
    justify-content: center;
}

.jumbo_top {
    margin-bottom: 2rem;
}

.jumbo_left {
    width: 30%;
}

.jumbo_right {
    width: 70%;
}

.jumbo_right.img {
    max-width: fit-content;
}

.jumbo_left>button {
    padding: .5rem.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icon>i {
    margin-top: 5rem;
    font-size: 2.25rem;
}

/* #endregion jumbo */

/* #endregion main */

/* #region footer*/


/* #endregion footer */