@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --drop-black: #000000;
    --drop-gray: #b6b6b6;
    --drop-lightgray: #f5f5f5;
    --drop-white: #ffffff;
    --drop-lighterblue: #b4d0e7;
    --drop-lightblue: #0093ce;
    --drop--blue: #0061ff;
    --drop-darkblue: #0d2481;
    --drop-lightred: #ff1c1c;
    --drop-red: #d5001f;
    --drop-darkred: #61082b;
    --drop-lightgreen: #d1e9cd;
    --drop-green: #a2d39b;
    --drop-yellow: #ffd830;
}

.debug .main_menu {
    border: 1px solid black;
}

.debug .jumbo {

    border: 1px solid black;
}

.debug .big_container {
    border: 1px solid black;
}

.debug .business_plan {
    height: 300px;
    border: 1px solid black;
}

.debug .container {
    border: 1px solid black;
    height: 100%;
}

.debug .cost_section {
    border: 1px solid black;
    /* height: 800px; */
}

.debug .call_to_action {
    height: 300px;
}

.debug .skills {

    border: 1px solid black;
}


/* utilities */
.d-flex {
    display: flex;
}

ul {
    gap: 1rem;
}

li {
    list-style: none;
}



button {
    border: none;
    background-color: #0061ff;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

.big_container {
    width: 70%;
}

.container {
    width: 60%;
}

h1 {
    font-size: 4rem;

}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: .75rem;
}



/* #region header */
nav {
    justify-content: center;
    font-size: .75rem;
}

.main_menu {
    width: 100vw;
    max-width: 1900px;
    padding: .75rem;
    justify-content: space-between;
}

.left>ul>li>a,
.right>ul>li>a {

    text-decoration: none;
    color: var(--drop-gray);

}

.left,
.right {
    align-items: center;
    gap: 1rem;
}

.right {
    flex-direction: row-reverse;
}

button.menu {
    padding: .25rem .75rem;
}

/* #endregion header */

/* #region main*/

/* #region jumbo */
.jumbo {
    max-width: 1900px;
    margin: auto;
    padding-top: 4rem;
    background-color: var(--drop-lighterblue);
    /* justify-content: center; */
}

.jumbo_background {
    height: 33rem;
    background-color: var(--drop-lighterblue);
    justify-content: center;
}

.jumbo_top {
    margin-bottom: 2rem;
}

.jumbo_left {
    width: 30%;
}

.jumbo_right {
    width: 70%;
}

.jumbo_right.img {
    max-width: fit-content;
}

.jumbo_left>button {
    padding: .5rem.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icon>i {
    margin-top: 5rem;
    font-size: 2.25rem;
}

/* #endregion jumbo */

/* #region business plan */

.business_plan {
    max-width: 1900px;
    justify-content: center;
    padding-bottom: 2rem;
}

.business_plan_top {
    padding-top: 8rem;
}


.business_plan_bottom span {

    margin-right: 2rem;
    font-size: .75rem;

}

.option {
    align-items: center;
    gap: .25rem;
}

.business_options {
    padding-top: 3rem;
    gap: 2rem;
}


/* #endregion business plan */

/* #region cost section */
.cost_section {
    justify-content: center;
}

.cost_section>.container {
    justify-content: space-between;
}

.col-30 {
    border: 1px solid black;
    width: calc(90%/3);
    /* height: 100%; */
    padding-bottom: 2.5rem;
}


.column_header {
    justify-content: center;
    gap: .25rem;
    padding: .25rem;
    border-bottom: 1px solid gray;
    margin-bottom: .25rem;
}

.column_body {
    padding: 1rem;
    font-size: .75rem;
}

.price {
    line-height: 1.5rem;
    padding-top: .5rem;
}

.box {
    padding: 2rem 0;
    flex-direction: column;
    gap: .75rem;
}

.column_icon,
.column_title {
    font-size: .75rem;
}

.user,
.cloud,
.functions,
.points {
    gap: .25rem
}

.user>.column_icon {
    line-height: 1rem;
    align-self: center;
}

.column_button>button {
    width: 100%;
    padding: .5rem 0;
    font-size: .75rem;
}

.column_link>a {
    color: #0061ff;
}

.column_link {
    line-height: 2rem;
    padding: 1rem 0;
    margin-bottom: .5rem;
}

.line {
    width: calc(100% / 5);
    height: 1px;
    background-color: var(--drop-gray);
}

.column_bottom {
    padding: 0 1rem;
    font-size: .75rem;
}

.bottom_header {
    padding: 1.5rem 0;

}

.points {
    flex-direction: column;
}

.points_row {
    gap: .25rem;
    padding: .25rem 0;
}

.points i {
    color: #0061ff;
}




/* #endregion cost section */

/* #region call to action 1 */

.call_to_action {
    justify-content: center;
    padding-top: 3rem;
    /* border: 1px solid gray; */
}

.call_to_action>.container {
    border: 1px solid gray;
}

.c_t_a_header {
    justify-content: center;
    gap: .25rem;
    line-height: 1rem;
    padding: .5rem 0;
    border-bottom: 1px solid gray;
    font-size: .75rem;
}

.c_t_a_box {
    padding: 1.5rem;
    justify-content: space-between;
}

.c_t_a_left {
    padding-right: 1rem;
}

.c_t_a_top_left {
    line-height: 2rem;
    margin-bottom: 2rem;
}

.c_t_a_bottom_left {
    font-size: .75rem;
}

.c_t_a_right {
    /* border: 1px solid black; */
    align-content: flex-end;
    padding-left: 1rem;
}

.c_t_a_right button {
    font-size: .75rem;
    padding: .5rem 1.75rem;
}

/* #endregion call to action 1 */
/* #region partners */
.partners {
    padding: 6rem 0;
    /* height: 600px; */
    justify-content: center;
}

.partners_left {
    width: calc((100%/3) *2);
    /* height: 100%; */

}


.partners_left img {
    width: 100%;
}

.partners_right {
    width: calc(100%/3);
    padding: 2.5rem 0;
}

.partners_box {
    padding-left: 2.5rem;
    padding-right: 1rem;
}

.box_header {
    margin-bottom: .5rem;
}

.partners_box>button {
    padding: .5rem 1rem;
    font-size: .75rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 1.5rem;
}



/* #endregion partners */


/* #region skills */

.skills_title {
    justify-content: center;
}

.skills_title>.container {

    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.skills {
    justify-content: center;
}

.skills>.container>.row {
    width: 100%;
    gap: 1rem;
}

.row>.card {
    width: calc(100%/3);

    border: 1px solid black;
}

.card img {
    width: 100%;
}

.card_main {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

/* #endregion skills */


/* #endregion main */

/* #region footer*/


/* #endregion footer */